<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <mat-toolbar>
        <button routerLink="" id="B1"><span>Rallieta</span></button>
    </mat-toolbar> -->
    <mat-sidenav-container class="sidenav-container">  
        <br>
        <h1 style="font-family: inspiration; font-size: 15vw;padding-bottom: 3vh;">Mizãn Plass</h1>  
        <br>
        <a id="link"routerLink=""><b>Rallieta </b></a>
    </mat-sidenav-container>
    
    
    <div class="content">
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.RofVqlpT9i8_gk_LGG42pgHaEp%26pid%3DApi&f=1&ipt=81b521c38ee2114be9b7e8d3b4bb904b4d50b849b65386df2ae2df102356dfee&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Conjunto de Panelas de pedra</li>
                        <br>
                        <li class="descrição">Conjunto de panelas de pedra polida, para fogão à lenha</li>
                        <br>
                        <li class="preço"><b>R$ 120,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.LjQl14m7knVQtDD_F23BnQHaFk%26pid%3DApi&f=1&ipt=c50a082f4758b8d81d9c8acdcb9ad37b8d249b1b51b3224e9b3311eb34967de8&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Porcelana de janta</li>
                        <br>
                        <li class="descrição">Conjunto de pratos de porcelana azul, para janta</li>
                        <br>
                        <li class="preço"><b>R$ 200,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.9JINfM0PNdar6MJWLSbWBwHaHa%26pid%3DApi&f=1&ipt=3059da27ed0529f2d4ea3b28667f0746fecc952df0afffccb049a2e0ebf7b88b&ipo=images">
            <figcaption> <ul class="atributo ">
                <li class="nome">Utensílios de Cozinha</li>
                <br>
                <li class="descrição">Conjunto de utensílios de silicone da tramontina</li>
                <br>
                <li class="preço"><b>R$ 70,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://i.pinimg.com/originals/af/9f/ff/af9fff6e534950bda64eb11337110b5c.jpg"> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Tábua de corte </li>
                <br>
                <li class="descrição">Tábua de corte de madeira, do grêmio</li>
                <br>
                <li class="preço"><b>R$ 60,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.bbSe92gxNDnMffwYXZrHcAHaFj%26pid%3DApi&f=1&ipt=7f6406ba686924a335e9b0f071d852b8994c47baae86a460cdc6462906d80850&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Conjunto Antiaderente</li>
                        <br>
                        <li class="descrição">Conjunto de panelas antiaderentes, tramontina cor vermelha</li>
                        <br>
                        <li class="preço"><b>R$ 80,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://images.tcdn.com.br/img/img_prod/764794/jogo_de_panelas_com_revestimento_ceramico_5_pecas_angra_preto_meridional_113_6_20200414223451.png" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Panelas de Cerâmica</li>
                        <br>
                        <li class="descrição">Panelas de revestimento cerâmico, coloração angra preto</li>
                        <br>
                        <li class="preço"><b>R$ 200,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.nKFBSupq_hiEyOHYYyGu0wHaHa%26pid%3DApi&f=1&ipt=266ce940bc57296fdb1d956e3f41b5f48f33d4e04fbd97b28a7332b5003ccf3c&ipo=images" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Louça Italiana</li>
                <br>
                <li class="descrição">Conjunto de Louça italiana, coloração verde com borda dourada</li>
                <br>
                <li class="preço"><b>R$ 150,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://http2.mlstatic.com/D_NQ_NP_862459-MLB46333245096_062021-F.jpg" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Facas de Cozinnha</li>
                <br>
                <li class="descrição">Conjunto de facas de cozinha profissional, de aço inoxidável</li>
                <br>
                <li class="preço"><b>R$ 60,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://i.pinimg.com/originals/98/da/d1/98dad1866ba628e4552f632b5d55a323.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Forma de Bolo</li>
                        <br>
                        <li class="descrição">Forma para bolo Heritage</li>
                        <br>
                        <li class="preço"><b>R$ 40,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://i.pinimg.com/originals/64/09/b1/6409b18f4c324ce71c9106f3c4c08317.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Medidores</li>
                        <br>
                        <li class="descrição">Conjunto de medidores de colher e xícara, de aço inox</li>
                        <br>
                        <li class="preço"><b>R$20,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://http2.mlstatic.com/D_NQ_NP_909403-MLB44662637425_012021-F.jpg" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Utensílios de confeitaria</li>
                <br>
                <li class="descrição">Conjunto de utensílios de confeitaria de silicone, cor pastel</li>
                <br>
                <li class="preço"><b>R$ 50,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.SvoFafVumLNcDzsNerPU-wHaFK%26pid%3DApi&f=1&ipt=38ff3b80f226570f7ace5ff8c64acf658a7a7a3b33d800ebeeb13ecb8e12ba12&ipo=images" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Bico de confeiteiro</li>
                <br>
                <li class="descrição">Kit de bico de confeitar</li>
                <br>
                <li class="preço"><b>R$ 20,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.yLVDyRFvd709O0_GteRgvgHaHa%26pid%3DApi&f=1&ipt=f1aaf1d34c8d40affb9df29fb0009a60861a6e12ec837da4dbb9168e3c2b3663&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Bowls de Porcelana</li>
                        <br>
                        <li class="descrição">Conjunto de Bowls de Porcelana</li>
                        <br>
                        <li class="preço"><b>R$ 60,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://cdn.awsli.com.br/1000x1000/651/651868/produto/60460017/bb8c25ea8b.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Bowl</li>
                        <br>
                        <li class="descrição">Conjunto de 2 bowls, de aço inox para confeitaria</li>
                        <br>
                        <li class="preço"><b>R$ 30,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://a-static.mlcdn.com.br/1500x1500/conjunto-de-assadeiras-de-vidro-refratario-retangular-1512-sempre-c-2-pecas-nadir/castronaves/12186/842e9799dcb99b7c29fb8cd101d452bf.jpg" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Travessa Refratária</li>
                <br>
                <li class="descrição">Conjunto de duas travessas refratárias, de vidro temperado</li>
                <br>
                <li class="preço"><b>R$ 70,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_888932-MLB45062295357_032021-F.jpg" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Recipientes de Ingrediente</li>
                <br>
                <li class="descrição">Conjunto de recipientes de vidro para ingredientes e temperos</li>
                <br>
                <li class="preço"><b>R$ 40,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://http2.mlstatic.com/D_NQ_NP_977912-MLB42869111300_072020-F.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Espátula de confeiteiro</li>
                        <br>
                        <li class="descrição">Conjunto de três espatulas de confeiteiro, em aço inox.</li>
                        <br>
                        <li class="preço"><b>R$ 30,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://http2.mlstatic.com/kit-3-cortadores-de-massa-inox-formato-coraco-cozinha-ofer-D_NQ_NP_693215-MLB25177165174_112016-F.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Modelador</li>
                        <br>
                        <li class="descrição">Cortador de inox, no formato de coração</li>
                        <br>
                        <li class="preço"><b>R$ 7,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://i.pinimg.com/originals/fc/0a/32/fc0a3266636404958a37db6967114d43.jpg" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Forma de<br> fundo Falso</li>
                <br>
                <li class="descrição">Forma de fundo falso, para bolos.</li>
                <br>
                <li class="preço"><b>R$ 30,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.0xJT2J_y2KWceDY3Eh_apgHaHa%26pid%3DApi&f=1&ipt=d9d527471f8b4d79c834dfa8e74589d3496bcf332f248f87d8062efa4d10b408&ipo=images" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Facas de Bolo</li>
                <br>
                <li class="descrição">Kit de duas facas de aço inox, para bolo</li>
                <br>
                <li class="preço"><b>R$ 20,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha" style="padding-bottom: 7vh;">
            <div class="produto">
                <figure class="item">
                 <img src="https://image.freepik.com/fotos-gratis/rolo-de-massa-na-area-de-trabalho-de-madeira_23-2147852069.jpg" alt="">
                    <figcaption>
                        <ul class="atributo ">
                            <li class="nome">Rolo de Massa</li>
                            <br>
                            <li class="descrição">Rolo para abrir massa</li>
                            <br>
                            <li class="preço"><b>R$ 15,00</b></li>
                            <br>
                            <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://reinabatata.vteximg.com.br/arquivos/ids/158249-1000-1000/106709.BCO.st.jpg?v=636795348502570000" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Mini Bowls</li>
                        <br>
                        <li class="descrição">Conjunto de 5 mini bowls de porcelana para ingredientes</li>
                        <br>
                        <li class="preço"><b>R$ 35,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.97OlRUbMI9KhMYPnou7KxwHaHa%26pid%3DApi&f=1&ipt=cf29692204adeaacbaf936c112ae265b2a9326ca4b874b1dc8020075c40e00aa&ipo=images" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Modelador</li>
                <br>
                <li class="descrição">Cortador de inox,em formato quadrado</li>
                <br>
                <li class="preço"><b>R$ 7,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.P12MaYG2jUoBOIKKn2ZlTgHaFj%26pid%3DApi&f=1&ipt=c8b603d8de81420e81595f2d6689cc44724a529beb340daefaa96d8db49e9c05&ipo=images" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Formas de doces</li>
                <br>
                <li class="descrição">Forminhas para brigadeiros, bejinho e etc.</li>
                <br>
                <li class="preço"><b>R$ 4,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
    </div>
    
</body>
</html>


