<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <mat-toolbar>
        <button routerLink="" id="B1"><span>Rallieta</span></button>
    </mat-toolbar> -->
    <mat-sidenav-container class="sidenav-container">  
        <br>
        <h1 style="font-family: inspiration; font-size: 15vw;">Mizãn Plass</h1>  
    </mat-sidenav-container>
    
    
    <div class="content">
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.RofVqlpT9i8_gk_LGG42pgHaEp%26pid%3DApi&f=1&ipt=81b521c38ee2114be9b7e8d3b4bb904b4d50b849b65386df2ae2df102356dfee&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Conjunto de Panelas de pedra</li>
                        <br>
                        <li class="descrição">Conjunto de panelas de pedra polida, para fogão à lenha</li>
                        <br>
                        <li class="preço"><b>R$ 120,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.LjQl14m7knVQtDD_F23BnQHaFk%26pid%3DApi&f=1&ipt=c50a082f4758b8d81d9c8acdcb9ad37b8d249b1b51b3224e9b3311eb34967de8&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Porcelana de janta</li>
                        <br>
                        <li class="descrição">Conjunto de pratos de porcelana azul, para janta</li>
                        <br>
                        <li class="preço"><b>R$ 200,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.9JINfM0PNdar6MJWLSbWBwHaHa%26pid%3DApi&f=1&ipt=3059da27ed0529f2d4ea3b28667f0746fecc952df0afffccb049a2e0ebf7b88b&ipo=images">
            <figcaption> <ul class="atributo ">
                <li class="nome">Utensílios de Cozinha</li>
                <br>
                <li class="descrição">Conjunto de utensílios de silicone da tramontina</li>
                <br>
                <li class="preço"><b>R$ 70,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://i.pinimg.com/originals/af/9f/ff/af9fff6e534950bda64eb11337110b5c.jpg"> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Tábua de corte </li>
                <br>
                <li class="descrição">Tábua de corte de madeira, do grêmio</li>
                <br>
                <li class="preço"><b>R$ 60,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha" style="padding-bottom: 5vh;">
            <div class="produto">
                <figure class="item">
                 <img src="" alt="">
                    <figcaption>
                        <ul class="atributo ">
                            <li class="nome"></li>
                            <br>
                            <li class="descrição"></li>
                            <br>
                            <li class="preço"><b></b></li>
                            <br>
                            <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
    </div>
    
</body>
</html>


