<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <mat-toolbar>
        <button routerLink="" id="B1"><span>Rallieta</span></button>
    </mat-toolbar> -->
    <mat-sidenav-container class="sidenav-container">  
        <br>
        <h1 style="font-family: inspiration; font-size: 15vw;">Cafeteria</h1>  
        <br>
        <a id="link"routerLink="">Rallieta</a>
    </mat-sidenav-container>
    
    
    <div class="content">
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.u3beJNyLRXgtGYahmCdGeAHaE7%26pid%3DApi&f=1&ipt=2fe401a91542bd09a583add32b5a7dd98810387cbfbabfd0f86ce3cef13f3810&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Café Turco</li>
                        <br>
                        <li class="descrição">café Turco</li>
                        <br>
                        <li class="preço"><b>R$ 7,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.AdKz6U8N_FPUtOya2SBi6wHaE8%26pid%3DApi&f=1&ipt=55c7d2eac5596dfdc3fba7a85b2f69fb445503d7169ce5c6b82c914b11494504&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Sorvete de café</li>
                        <br>
                        <li class="descrição">Sorvete cremoso, sabor de café e<br> hortelã</li>
                        <br>
                        <li class="preço"><b>R$ 6,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.DuryOGI2opmtQimci9pGOwHaEo%26pid%3DApi&f=1&ipt=d987772c3348d9910f439cdbe4ac3308cdabdb6309398505404d776a3ea524bd&ipo=images">
            <figcaption> <ul class="atributo ">
                <li class="nome">Café gelado</li>
                <br>
                <li class="descrição">café gelado com, leite intgral, chocolate e chantilly</li>
                <br>
                <li class="preço"><b>R$ 10,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.0OZo4MxXXEiJgp85xwZcNAHaFS%26pid%3DApi&f=1&ipt=a1bc79992ad9292c86de9600f06233f5bb4bbd9eb51a1a127d2aa6cd550dfa6b&ipo=images"> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Café expresso</li>
                <br>
                <li class="descrição">Café Mellita Expresso, puro</li>
                <br>
                <li class="preço"><b>R$ 3,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.dvhL9B8LteQRgfP5JDZKOgHaEj%26pid%3DApi&f=1&ipt=db74c5e9757f68c8512e74a633a9821ec5addae3be6ebd0fadef08318b1ce5e3&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Cappussino</li>
                        <br>
                        <li class="descrição">Cappucino com avelã</li>
                        <br>
                        <li class="preço"><b>R$ 7,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.8_I_0V5NYW1ku1rH9d3QYQAAAA%26pid%3DApi&f=1&ipt=f5f7bcfbb414da516912303a27b6195f281368ee502f7d368ea43e98c86ce88c&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Macchiato</li>
                        <br>
                        <li class="descrição">Receita típica italiana, café expresso com espuma de leite</li>
                        <br>
                        <li class="preço"><b>R$ 6,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://th.bing.com/th/id/OIP.n6t0RSdwRFyHJwo88G9b3wHaHk?pid=ImgDet&rs=1" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Espresso Panna</li>
                <br>
                <li class="descrição">Café espresso pana, com creme de leite fresco batido na coqueteleira</li>
                <br>
                <li class="preço"><b>R$ 7,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://th.bing.com/th/id/OIP.Mip-khy03PXhVwdjZ8W1GAHaFj?pid=ImgDet&w=1024&h=768&rs=1" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Café Latte</li>
                <br>
                <li class="descrição">Café Latte, com leite cremoso</li>
                <br>
                <li class="preço"><b>R$ 9,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://caffedicasa.it/wp-content/uploads/2020/10/cappuccino-56.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Café com Leite</li>
                        <br>
                        <li class="descrição">Café com leite fervido</li>
                        <br>
                        <li class="preço"><b>R$ 4,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://i.pinimg.com/originals/e9/69/32/e96932c2d44fbca4a9010ba8441d834f.png" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Café Lagrima</li>
                        <br>
                        <li class="descrição">Café com alta concentração de leite</li>
                        <br>
                        <li class="preço"><b>R$ 5,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://www.recetum.com/wp-content/uploads/2014/01/1424632_89562654.jpg" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Mocha</li>
                <br>
                <li class="descrição">Café Mocha, com chocolate, leite e creme</li>
                <br>
                <li class="preço"><b>R$ 12,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://i1.wp.com/blog.elmeme.me/wp-content/uploads/-000/1/_1509110307.jpg?resize=662%2C662" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Café Havaiano</li>
                <br>
                <li class="descrição">Receita de café havaiano com leite, e leite de coco</li>
                <br>
                <li class="preço"><b>R$ 5,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://th.bing.com/th/id/OIP.ICLbJjN-jb3HIKdqZI_KkgHaE8?pid=ImgDet&rs=1" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Milkshake de Café</li>
                        <br>
                        <li class="descrição">Milkshake de café cm chantilly</li>
                        <br>
                        <li class="preço"><b>R$ 15,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://th.bing.com/th/id/OIP.nwBAVg1mT7bJ5H2h9t8SwwHaEo?pid=ImgDet&rs=1" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Sorvete de Café</li>
                        <br>
                        <li class="descrição">Sorvete de café, com calda de chocolate</li>
                        <br>
                        <li class="preço"><b>R$ 12,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://www.soysaludablecolsubsidio.com/wp-content/uploads/2019/02/mousse-cafe.jpg" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Mousse de Café</li>
                <br>
                <li class="descrição">Mousse de café com chocolate e chantilly</li>
                <br>
                <li class="preço"><b>R$ 15,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://th.bing.com/th/id/R.1088b87cf414a9a40d0aafbcd25a5d64?rik=P9VqzYt4Emqjpw&pid=ImgRaw&r=0" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Café Cremoso</li>
                <br>
                <li class="descrição">Café cremoso com calda de caramelo</li>
                <br>
                <li class="preço"><b>R$ 8,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div> 
        </div>
        <h1 style="font-family: inspiration;font-size:4vw; text-align: center;">---------------- Acompanhamentos ----------------</h1>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://www.salinas.com.br/uploads/2015/02/10/54d9feee89370.bolacha-maragogi.blog.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Bolacha suiça</li>
                        <br>
                        <li class="descrição">Bolacha suiça, mil folhas</li>
                        <br>
                        <li class="preço"><b>R$ 3,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://cdnimg.webstaurantstore.com/images/products/xxl/627118/2212861.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Torradas</li>
                        <br>
                        <li class="descrição">Torradas amanteigadas para acompanhamento</li>
                        <br>
                        <li class="preço"><b>R$ 3,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.nC7XpaXwe4unLDSLrs1J7gHaE8%26pid%3DApi&f=1&ipt=a7148ced9b80bfc88bab0f11b4dd5916c9b48d983ba28e64e5723d91f55be154&ipo=images" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome">Biscoito Amanteigado</li>
                <br>
                <li class="descrição">Biscoito amanteigado para acompanha-<br>mento</li>
                <br>
                <li class="preço"><b>R$ 3,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.nrmvRtq30qnf-8z-OiFxGwHaHa%26pid%3DApi&f=1&ipt=769f407248ae65cf1be0e08ba5d9cdac6b787c6364fe6410a3d2d24421cbb520&ipo=images" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Croissant</li>
                <br>
                <li class="descrição">Mini Croissant para acompanhamento</li>
                <br>
                <li class="preço"><b>R$ 3,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha" style="padding-bottom: 5vh;">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.XhOYGr7gY67lXLna55TDTAHaFD%26pid%3DApi&f=1&ipt=ba8c41ad26eecdd1d7830eeec587b584f17241cd973b27abd4ec0f65e298bbcf&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Misto Quente</li>
                        <br>
                        <li class="descrição">Misto Quente com queijo e presunto </li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
             <img src="https://muii.com.br/__export/1601670543515/sites/mui/img/2020/10/02/pao-de-mel-facil.jpg_554688468.jpg" alt="">
             <figcaption> <ul class="atributo ">
                 <li class="nome">Pão de Mel</li>
                 <br>
                 <li class="descrição">Pão de mel para acompanha-<br>mento</li>
                 <br>
                 <li class="preço"><b>R$ 4,00</b></li>
                 <br>
                 <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
             </ul></figcaption>
            </figure>
         </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://presentearpoa.com.br/wp-content/uploads/2015/08/Chocolate-L%C3%ADngua-de-Gato-Katzenzungen-100g-Alemanha-2.jpg" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Lingua de Gato</li>
                        <br>
                        <li class="descrição">Chocolate Lingua de Gato, para acompanhamento</li>
                        <br>
                        <li class="preço"><b>R$ 4,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
       
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.explicit.bing.net%2Fth%3Fid%3DOIP._F8-jbehAgadBTPQJkb5tQHaE8%26pid%3DApi&f=1&ipt=cf41f74eeb34f5e6e801870c2bb3e0bbf10e45fac2bf0b60547589b33e60d6a5&ipo=images" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Macarrom</li>
                <br>
                <li class="descrição">Macarrom de sabores diversos, para acompanha-<br>mento</li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
    </div>
    
</body>
</html>


