<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- <mat-toolbar>
        <button routerLink="" id="B1"><span>Rallieta</span></button>
    </mat-toolbar> -->
    <mat-sidenav-container class="sidenav-container">  
        <br>
        <h1 style="font-family: inspiration; font-size: 15vw;">Cafeteria</h1>  
        <br>
        <a id="link"routerLink="">Rallieta</a>
    </mat-sidenav-container>
    
    
    <div class="content">
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.u3beJNyLRXgtGYahmCdGeAHaE7%26pid%3DApi&f=1&ipt=2fe401a91542bd09a583add32b5a7dd98810387cbfbabfd0f86ce3cef13f3810&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Café Turco</li>
                        <br>
                        <li class="descrição">café Turco</li>
                        <br>
                        <li class="preço"><b>R$ 7,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.AdKz6U8N_FPUtOya2SBi6wHaE8%26pid%3DApi&f=1&ipt=55c7d2eac5596dfdc3fba7a85b2f69fb445503d7169ce5c6b82c914b11494504&ipo=images">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Sorvete de café</li>
                        <br>
                        <li class="descrição">Sorvete cremoso, sabor de café e<br> hortelã</li>
                        <br>
                        <li class="preço"><b>R$ 6,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.DuryOGI2opmtQimci9pGOwHaEo%26pid%3DApi&f=1&ipt=d987772c3348d9910f439cdbe4ac3308cdabdb6309398505404d776a3ea524bd&ipo=images">
            <figcaption> <ul class="atributo ">
                <li class="nome">Café gelado</li>
                <br>
                <li class="descrição">café gelado com, leite intgral, chocolate e chantilly</li>
                <br>
                <li class="preço"><b>R$ 10,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.0OZo4MxXXEiJgp85xwZcNAHaFS%26pid%3DApi&f=1&ipt=a1bc79992ad9292c86de9600f06233f5bb4bbd9eb51a1a127d2aa6cd550dfa6b&ipo=images"> 
            <figcaption> <ul class="atributo ">
                <li class="nome">Café expresso</li>
                <br>
                <li class="descrição">Café Mellita Expresso, puro</li>
                <br>
                <li class="preço"><b>R$ 3,00</b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.dvhL9B8LteQRgfP5JDZKOgHaEj%26pid%3DApi&f=1&ipt=db74c5e9757f68c8512e74a633a9821ec5addae3be6ebd0fadef08318b1ce5e3&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Cappussino</li>
                        <br>
                        <li class="descrição">Cappucino com avelã</li>
                        <br>
                        <li class="preço"><b>R$ 7,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.8_I_0V5NYW1ku1rH9d3QYQAAAA%26pid%3DApi&f=1&ipt=f5f7bcfbb414da516912303a27b6195f281368ee502f7d368ea43e98c86ce88c&ipo=images" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome">Mochiato</li>
                        <br>
                        <li class="descrição">Receita típica italiana, café expresso com espuma de leite</li>
                        <br>
                        <li class="preço"><b>R$ 6,00</b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
        <div class="linha" style="padding-bottom: 5vh;">
            <div class="produto">
            <figure class="item">
              <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
            <figure class="item">
                 <img src="" alt="">
                <figcaption>
                    <ul class="atributo ">
                        <li class="nome"></li>
                        <br>
                        <li class="descrição"></li>
                        <br>
                        <li class="preço"><b></b></li>
                        <br>
                        <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt="">
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        <div class="produto">
           <figure class="item">
            <img src="" alt=""> 
            <figcaption> <ul class="atributo ">
                <li class="nome"></li>
                <br>
                <li class="descrição"></li>
                <br>
                <li class="preço"><b></b></li>
                <br>
                <li><button class="btn btn-info" routerLink="" class="buttons">Comprar</button></li>
            </ul></figcaption>
           </figure>
        </div>
        </div>
    </div>
    
</body>
</html>


